body
{
  color: aqua;
  background: #000000;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed aquamarine;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: aquamarine;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.btn-info{
  color: black;
}
.heading{
  font-size: 21px;
  letter-spacing: 2px;
}
